doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title Emperor Norton
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Cedarville+Cursive',rel='stylesheet',type='text/css')
    link(rel="stylesheet",href="/stylesheets/application.css")
  body
    .container
      if team
        p(style="text-align: right")
          a(href='/logout') Logout
      .media
        .media-left
          img.media-object(src="https://s3.amazonaws.com/rudyjahchan/EmperorNortonProfileSmall.png", width=32, height=32)
        .media-body
          block content
