extends ./layout.jade

block content
  if failed == 1
    .alert.alert-danger
      | Sorry, that's not quite right. Try again!

  include ./riddles/chess.jade

  p Know the answer? Submit the room your in and your solution!

  form(action='/login',method='post')
    .form-group
      label(for='room') Room
      input.form-control(type='text',name='room')
    .form-group
      label(for='move') Answer
      input.form-control(type='text',name='move')
    button.btn.btn-default(type='submit') Submit
