extends ./layout.jade

block content
  p Our most loyal subjects, and future benefactors! We are most pleased you have figured out the puzzles before you and summoned us before you.

  p Of course, the question is have you solved all the puzzles? Namely, have you won my favored "game" before you?

  p When you are ready, "tap" the Answer button below to give your solution.

  a.btn.btn-default(href='/login') Answer
