extends ./layout.jade

block content
  p My beloved subjects, and future benefactors! I am most pleased that you have figured out the maze before you to summon me from beyond the grave.

  p Are you ready to embark on an adventure?

  a.btn.btn-default(href='/') Continue
