extends ../index.jade

block riddle
  p.riddle
    | Maker of Ingress, and Pokemon Go
    br
    | I sailed from Rhode Island to join in the race
    br
    | Abandoned by crew members searching for gold
    br
    | Look for me now in my last resting place
