extends ./layout.jade

block content
  if failed == 1
    .alert.alert-danger
      | Sorry, that's not quite right. Try again!

  include ./riddles/chess.jade

  p Know the answer? Submit your room name and your solution!

  form(action='/login',method='post')
    .form-group
      label(for='room') Room
      input.form-control(type='text',name='room')
    .form-group
      label(for='move') 1st White Move
      input.form-control(type='text',name='whiteMove0')
    .form-group
      label(for='move') Black Move
      input.form-control(type='text',name='blackMove')
    .form-group
      label(for='move') 2nd White Move
      input.form-control(type='text',name='whiteMove1')
    button.btn.btn-default(type='submit') Submit
