extends ./layout.jade

block content
  p Our most beloved subjects, and future benefactors! We are most pleased you have figured out the puzzles before you to summon us from beyond the earthly pale.

  p Of course, have you solved all the puzzles? Namely, have you won my favored "game"?

  p When you are ready, "tap" the Answer button below to give your solution.

  a.btn.btn-default(href='/login') Answer
