extends ../index.jade

block riddle
  p.riddle
    | B and L, beloved by all,
    br
    | One saved the other's life in a brawl.
    br
    | When B was killed by the drunkard Rippey,
    br
    | Mark Twain wrote his eulogy.
