extends ../index.jade

block riddle
  p.riddle
    | Within this bank, I did conceal
    br
    | The last letter of my 10 dollar seal
    br
    | You will have 5 letters; unscrambled they spell
    br
    | The place where my imperial bones now dwell!

  p
    | Head back to Carbon Five when you think you know the answer.
