extends ../index.jade

block riddle
  p.riddle
    | To the Hesitating Scavenger:
    br
    | If adventure's what you seek
    br
    | In a young seafarer's tale
    br
    | Then look no further underneath
    br
    | The bust of Hispaniola's sails
