body {
  margin-top: 1em;
  margin-bottom: 1em;
}

.riddle {
  font-family: 'Cedarville Cursive', cursive;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #ddd;
}

.letter {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
