extends ../info.jade

block info
  img.img-responsive(src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Bummerandlazarus2.jpg")
  p
    | Here you should find a plaque honoring Bummer and Lazarus. It's next to the benches at the end of Mark Twain Street.

  p
    | Bummer and Lazarus were two strays that roamed San Francisco, sometimes in my company.

  p
    | In 1861, Bummer witnessed a fight between two dogs, in which the smaller dog sustained a deep wound on his leg.
    | Bummer chased off the attacker and nursed the injured dog back to health, bringing him scraps of food and
    | huddling with him to keep him warm. The injured dog's unexpected recovery earned him the name Lazarus.

  p
    | Together, the two dogs became known for their prodigious rat-killing ability.
    | This endeared them to the local merchants, who rewarded them with food for keeping their stalls clean.
    | In 1862, after Lazarus was captured by a new dog catcher, an angry mob demanded his release.
    | Upon his release, the two dogs were declared exempt from the local ordinance against strays!
