extends ../info.jade

block info
  img.img-responsive(src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Bummerandlazarus2.jpg")
  p
    | Our loyal companions, Bummer and Lazarus, were two strays that roamed San Francisco,
    | sometimes in Our company.

  p
    | In 1861, Bummer - a black and white Newfoundland - rescued an injured Lazarus
    | from a larger dog's attack. Bummer then nursed his new friend back to health,
    | bringing him food scaps and huddling for warmth.

  p
    | Together, the two dogs became known for their prodigious rat-killing ability, once killing 85 rats in 20 minutes. This endeared them to the local merchants, who rewarded them with food for keeping their stalls clean.
    | In 1862, after Lazarus was captured by a new dog catcher, an angry mob demanded his release. Upon his release, the two dogs were declared exempt from the local ordinance against strays!
