extends ../info.jade

block info
  p Well done! We did walk the mortal plane, we ourselves enjoyed a vigorous games of chess.

  p Walking itself was also a favored activity. There were many places in our beloved San Francisco that we did - pun intended - "haunt". Even to this day!

  p
    | Before you is a map marked with some of our favored places. 
    | Now, to continue game, we will give you a riddle identifying one of those places. 
    | If you find us there, looking through this fantastically electric magic through which we are communicating 
    | We will give provide one of the letters of the code locking our estate followed by another riddle to the next location.

  p
    | If you get stuck in the camera obscura view, you can always tap our Royal visage in the top right corner and pick "Layer Actions" to return to this dashboard, or summon us within the circle again.

  p
    | When you are ready, tap the button below!
