extends ../info.jade

block info
  p
    | Here, at the northwest corner of Portsmouth Square Plaza, you should find a monument to Robert Louis Stevenson.

  p
    | Robert Louis Stevenson was a writer of sea tales, including "The Wrecker", which included myself as a character!

  p
    | This famous writer spent days sitting in this square conversing with townsfolk and watching ships sail in and out of the harbor.
    | The bronze sculpture atop the granite pillar near here is the galleon Hispaniola, a ship in Treasure Island, Stevenson’s most famous novel.
