extends ../info.jade

block info
  p
    | Here, you should find a plaque on the Clay Street side of the building on the northwest Corner of Sansome & Clay

  p
    | During the 1849 Gold Rush, hundreds of sailing ships - like the Niantic -
    | were run aground and abandoned in Yerba Buena Cove as crew members deserted to chase gold.

  p
    | The Niantic arrived in San Francisco in 1849 from Massachusetts carrying 248 gold seekers.
    | It was run aground at what is today Clay and Montgomery, and eventually converted into the Niantic Hotel.
    | The hotel was repeatedly burned down in fires and rebuilt until it was demolished in 1872.
