extends ../info.jade

block info
  p
    | Henry Wells and William Fargo founded Wells Fargo on Montgomery in 1852.
    | By 1860s, thanks to the Gold Rush, Wells Fargo controlled the most extensive communication
    | network in the west with its Pony Express.
    | Now a museum, it features an authentic Concord Stagecoach and some currency issued by me!

  p Speaking of that currency...
