extends ../info.jade

block info
  p Well done! When We did walk the mortal plane, We regularly enjoyed vigorous games of chess.

  p Walking itself was also a favored activity. There were many places in our beloved San Francisco that We did frequently "haunt" - even to this day!

  p
    | Before you is a map marked with locations where you can still find Our spirit.
    | To continue our game,  We will give you a riddle identifying ONE of those places.
    | Using Layar, go to the right location and tag our spirit there.
    | We will provide one of the letters of the code
    | locking our estate a riddle for the NEXT location or letter.

  p
    | If you get stuck you can always tap our most royal visage in the top right corner 
    | and pick "Layer Actions" to return to the dashboard, or summon us within the circle again.

  p
    | When you are ready, tap the button below!
