extends ../info.jade

block info
  p Well done, team #{team.name}! When I did walk this mortal plane, I always enjoyed a vigorous game of chess.

  p I also loved walking around and inspecting my realm. There were many places in my beloved San Francisco that I frequently "haunted" - even to this day!

  p
    | Before you is a map with locations where you can still find my spirit.
    | To continue your quest, I will give you a series of riddles. The answer to each riddle is ONE of these places.

  p
    | As you go to each correct location, use Layar to look for my spirit there. Once you see me
    | on the screen, click me and I will give you a Cryptex Letter and your next riddle!

  p
    | Make sure to take the maps and summoning circle with you.

  p
    | If you get stuck, you can always tap my royal visage in the top right corner
    | and pick "Layer Actions" to return to the dashboard, or summon me within the circle again.

  p
    | When you are ready, tap the button below!
